<h1>{{ seconds }} : {{ decySeconds }}</h1>

<app-toolbar
  [isActive]="isActive"
  (onStartClicked)="startStoper()"
  (onAddRoundClicked)="addRound()"
  (onResetClicked)="resetStoper()"
  (onStopClicked)="stopStoper()"
></app-toolbar>

<div *ngIf="!isActive && (decySeconds !== 0 || seconds !== 0)">
  <input [(ngModel)]="userName" />
  <button (click)="addUser()">Add user</button>
</div>

<a [routerLink]="'/'">Home</a>
<a [routerLink]="'/rounds'">Rounds</a>
<a [routerLink]="'/users'">Users</a>

<router-outlet></router-outlet>
